button {
    text-align: center;
    display: block;
    background-color: #c0c024;
    padding: 5px 5px 5px 5px;
    border: solid 5px;
    border-radius: 5px;
}
body {
    background-color: blueviolet;
}
p {
    color: azure;
    display: block;
    text-align: center;
}
h1 {
    text-align: center;
    display: block;
    font-size: 80px;
    color: #f1f146;
}